rcfile() {
  echo -e ".$(basename $(echo -e $SHELL))rc"
}
refresh_rc() {
  source $HOME/$(rcfile)
}
add_bin_to_path() {
  for p in "$@"; do
    test -d $p && echo $PATH | grep -q "$p" || export PATH=$PATH:$p
  done
}

source_env() {
  for p in ${1[@]}; do
    test -f $p && source $p
  done
}

switch_env() {
  set_env $1
  eval `get_env`
}

source_env \
  $HOME/.cargo/env \
  /usr/share/nvm/init-nvm.sh

dev() {
  local cur_env=$(cat $ENV_FILE)
  local project=$1
  cd $DEV_DIR/$cur_env/$project
  if [ -z $project ]; then
    ls
    return
  fi
  vim .
}


export EDITOR=nvim
export ENV_FILE=$HOME/.config/CUR_ENV
export DEV_DIR=$HOME/dev


# text
alias lower="tr '[:upper:]' '[:lower:]'"
alias upper="tr '[:lower:]' '[:upper:]'"
